---
import Layout from '~/layouts/Layout.astro';
import { loadLocale } from "~/lib/i18n";
import { getLanguagePaths } from '~/lib/i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';

export function getStaticPaths() {
  return getLanguagePaths();
}

const lang = Astro.currentLocale || Astro.preferredLocale || 'it';
const m = loadLocale(lang);

const metadata = {
  title: m.error_404_title(),
};
---

<Layout metadata={metadata}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">{m.error_404_heading()}</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">{m.error_404_message()}</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          {m.error_404_description()}
        </p>
        <a rel="noopener noreferrer" href={getRelativeLocaleUrl(lang, '/')} class="btn ml-4">{m.error_404_back_button()}</a>
      </div>
    </div>
  </section>
</Layout>
