---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import ContactUs from '~/components/widgets/Contact.astro';

import brush_small from '~/assets/images/brush/small.svg?raw';
import brush_medium from '~/assets/images/brush/medium.svg?raw';
import brush_large from '~/assets/images/brush/large.svg?raw';
import brush_xlarge from '~/assets/images/brush/xlarge.svg?raw';
import Content_dinamic from '~/components/widgets/Content_dinamic.astro';
import TypedCodeImage from '~/components/widgets/TypedCodeImage.astro';
import * as m from '~/paraglide/messages';
import IndustrialMonitoring from '~/components/widgets/IndustrialMonitoring.astro';

const metadata = {
  title: 'Databrush',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Databrush"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get Renoir',
        href: '/docs/renoir',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features', variant: 'secondary' },
    ]}
  >
    <Fragment slot="title">
      <div class="inset-0 bg-gradient-ellipse"></div>
      You need a <span class="dark:text-white highlight">Brush</span> to paint a <span class="dark:text-white highlight"
        >Data Masterpiece</span
      >
    </Fragment>

    <Fragment slot="subtitle" set:html={m.hero_subtitle()} />

    <Fragment slot="bg">
      <div class="flex justify-center items-center -z-30 overflow-x-hidden">
        <div class="sm:hidden w-full">
          <Fragment set:html={brush_small} class:list="" />
        </div>
        <div class="hidden sm:max-lg:block min-[768px]:mt-20 w-full">
          <Fragment set:html={brush_medium} />
        </div>
        <div class="hidden lg:max-2xl:block mt-20">
          <Fragment set:html={brush_large} />
        </div>
        <div class="hidden 2xl:block -mt-16">
          <Fragment set:html={brush_xlarge} />
        </div>
      </div>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features3 title="About us" isBeforeContent={true}>
    <Fragment slot="subtitle">
      Databrush is built on decades of expertise in designing distributed infrastructures for data analytics. Led by <span
        class="text-accent dark:text-white highlight">Davide, Luca, and Fabio</span
      >, and supported by <span class="text-accent dark:text-white highlight">Gianpaolo and Alessandro</span> from Politecnico
      di Milano it combines technological innovation and strategic vision to tackle the most complex challenges.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Stats Widget ****************** -->

  <!-- <TypedCodeImage /> -->
  <!-- <IndustrialMonitoring/> -->

  <Stats
    title="Renoir community in numbers"
    subtitle="Is just the beginning but it keeps growing"
    stats={[
      { title: 'Place at ACM DEBS', amount: '1ยบ' },
      { title: 'Downloads', amount: '>1000' },
      { title: 'GitHub Stars', amount: '69' },
      { title: 'Research Papers', amount: '3' },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What services do we provide?"
    subtitle="We offer companies the ability to exploit the full potential of their data"
    items={[
      {
        title: 'Renoir Platform',
        description: 'For companies that needs a powerfull and flexible platform to manage their data and analytics.',
        icon: 'tabler:stack-front',
        callToAction: {
          target: '_blank',
          text: 'Get Renoir',
          href: '/docs/renoir',
        },
        classes: {
          panel: 'flex justify-between',
        },
      },
      {
        title: 'Data Science',
        description: 'For companies that needs to extract value from their data and make data-driven decisions.',
        icon: 'tabler:chart-covariate',
        callToAction: {
          target: '_blank',
          text: 'Contact Us',
          href: '/contact',
        },
        classes: {
          panel: 'flex justify-between',
        },
      },
      {
        title: 'Renoir in Cloud ',
        description: 'For companies that needs to scale their data infrastructure and analytics.',
        icon: 'tabler:cloud',
        callToAction: {
          target: '_blank',
          text: 'Learn More',
          href: '/renoir/overview',
        },
        classes: {
          panel: 'flex justify-between',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Features of Renoir"
    subtitle="Renoir has several features that make it a great choice for your company data infrastructure"
    columns={3}
    items={[
      {
        title: 'Design with the Latest Technologies',
        description:
          'Built with Rust, ensuring high performance and reliability. Renoir is designed to perform even in the most critical tasks.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Streaming Real Time',
        description:
          'Design to handle real-time data streams, Renoir is the perfect choice for companies that need to process data when they are generated.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Customizability',
        description:
          'Easily customizable to perform even the most complex tasks for every vertical scenario, making it the ultimate solution for your needs.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Lighting Fast',
        description: 'Optimized for speed and performance to ensure insights are delivered quickly and efficiently.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Easy to Use',
        description:
          'Designed with user-friendliness in mind, thanks to its high-level API, Renoir is easy to use and integrate with your existing infrastructure.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open Source',
        description:
          'The engine of Renoir is open source, allowing the community to contribute and improve the platform.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- Use Cases -->

  <Content_dinamic
    isReversed
    items={[
      {
        title: 'Data-driven Companies',
        description:
          'Optimize you decision and forecast your trends by analyzing billions of data in real-time all without the high cost of traditional infrastructure.',
        icon: 'tabler:presentation',
        data: { 'data-index': '0' },
      },
      {
        title: 'Industry 4.0: Monitoring Processes',
        description:
          'Reduce downtime and maximize efficiency with continuous machine monitoring and real-time data analysis, ensuring smooth and efficient operations.',
        icon: 'tabler:settings',
        data: { 'data-index': '1' },
      },
      {
        title: 'Transform Data into Value',
        description:
          'Leverage Renoir and our expertise in the field to uncover new opportunities and optimize business strategies, even with limited existing infrastructure.',
        icon: 'tabler:wand',
        data: { 'data-index': '2' },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-4xl text-center font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Use Cases</h3>
    </Fragment>
  </Content_dinamic>

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="FAQ"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'How do I start using Renoir?',
        description:
          'You can start usign Renoir following the quick start guide in the documentation. It is easier than you think. If you need help, you can reach out to our support team.',
      },
      {
        title: 'Why should I use Renoir?',
        description:
          'Renoir is a powerful and flexible platform it is designed to scale with your company and adapt to your needs. This means that you can focus on what really matters: your business. It cuts down the time to market, operetional cost and allows you to make data-driven decisions.',
      },
      {
        title: 'Where can I find more information about Renoir?',
        description:
          'If you need more information about Renoir, you can visit our documentation page. There you will find all the information you need to start using Renoir. More technical information can be found in the GitHub repository. Lastly if you want to read use cases or research papers, you can visit our blog.',
      },
      {
        title: 'Can I try Renoir before buying?',
        description:
          'Yes, the engine of Renoir is and always will be open source. You can try it and use it for free. Be part of our community and help us to improve the platform. If you need more from Renoir, you can always upgrade to the enterprise version.',
      },
      {
        title: 'How can Databrush help my company?',
        description:
          'Databrush is a team of experts in data analytics and distributed infrastructures. We can help you to design and implement the best data infrastructure for your company. We can help you to extract value from your data and make data-driven decisions. We can help you to scale your data infrastructure and analytics. If you want to know more about how we can help you, you can contact us.',
      },
      {
        title: 'Why Renoir was created?',
        description:
          'Renoir is born after years of experience in designing distributed infrastructures for data analytics. We saw that there was a need for a real-time streaming framework that was easy to use, scalable and reliable; withouth reducing the performance. Renoir is the answer to that need. It is designed to be the ultimate solution for your data infrastructure.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
        placeholder: 'John Doe',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        placeholder: 'jonh.doe@mail.com',
      },
    ]}
    textarea={{
      label: 'Message',
      placeholder: 'HI, I would like to know more about Renoir and how it can help my company.',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
    button="Send Message"
    method="post"
    action="https://forms.un-static.com/forms/f92a74143ea36998a842bb838854714e148f4379"
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get Renoir',
        href: '/docs/renoir',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Join the <span class="font-semibold">Renoir</span> community and start building your data infrastructure today.
    </Fragment>
  </CallToAction>
</Layout>
