---
import { render } from 'astro:content';
import { Icon } from 'astro-icon/components';
import SideNavMenu from '~/components/docs/SideNavMenu.astro';
import TableofContent from '~/components/docs/TableofContent.astro';
import type { MenuItem } from '~/doc_types';
import PageLayout from '~/layouts/PageLayout.astro';
import { fetchBook, next, previous, getStaticPathsDocs } from '~/utils/docs';
import { getEntry } from 'astro:content';

export async function getStaticPaths() {
  return getStaticPathsDocs();
}

const { page } = Astro.params;
const lang = Astro.currentLocale || Astro.preferredLocale || 'en';

if (!page) {
  // Or return a Response for a custom 404 page
  return Astro.redirect('/404');
}

const entry = await getEntry('docs', `${lang}/${page}`);

if (!entry) {
  // The requested page doesn't exist in the content collection.
  return Astro.redirect('/404');
}

const { Content, headings } = await render(entry);

const pathname: string = Astro.url.pathname;

const [book] = page.split('/');
const menu: MenuItem[] = await fetchBook(book, lang);
const current: MenuItem | undefined = menu.find((item) => '/' + item.permalink === pathname);

const prevPage: MenuItem | undefined = await previous(pathname, lang);
const nextPage: MenuItem | undefined = await next(pathname, lang);
---

<PageLayout>
  <div class="flex flex-row flex-1 overflow-y-visible items-start justify-between">
    <div class="hidden ham:block sticky top-[110px] m-8">
      <SideNavMenu items={menu} />
    </div>
    <div
      class="w-full min-w-0 px-6 xs:px-6 max-w-3xl prose dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
    >
      <div class={`ham:hidden not-prose ${current && current.level === 0 ? "block" : "hidden"}`}>
        <SideNavMenu items={menu} />
      </div>
      <Content />
      <div class="border-t border-gray mt-4"></div>
      <div class="flex flex-col lg:flex-row">
        {
          prevPage && (
            <a href={`/${prevPage.permalink}`} class="w-full my-2 lg:w-1/2 lg:m-2 no-underline shadow-md shadow-shadowed rounded-lg hover:-translate-y-1 duration-100 overflow-ellipsis whitespace-nowrap">
              <div>
                <div class="flex flex-row justify-between items-center p-4">
                  <Icon name='tabler:arrow-left' class="flex-shrink-0"/>
                  <div class="flex flex-col max-w-[280px] overflow-hidden">
                    <div class="text-right rtl">Previous</div>
                    <div class="text-right">
                      {prevPage.title}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          )
        }
        {
          nextPage && (
            <a href={`/${nextPage.permalink}`} class="w-full my-2 lg:w-1/2 lg:m-2 lg:ml-auto no-underline shadow-md shadow-shadowed rounded-lg hover:-translate-y-1 duration-100 overflow-ellipsis whitespace-nowrap">
              <div>
                <div class="flex flex-row justify-between items-center p-4">
                  <div class="flex flex-col max-w-[280px] overflow-hidden">
                    <div class="text-left">Next</div>
                    <div class="text-left">
                      {nextPage.title}
                    </div>
                  </div>
                  <Icon name='tabler:arrow-right' class="flex-shrink-0"/>
                </div>
              </div>
            </a>
          )
        }
      </div>
    </div>
    <div class="hidden ham:block sticky top-[110px] m-8">
      <TableofContent {headings} />
    </div>
  </div>
</PageLayout>
